.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.jumbotron {
  background: #f5f5f5;
}

.navbar-default {
  background: var(--warna-utama);
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 0;
  min-height: 70px;
}

.navbar {
  background-color: rgb(64, 29, 29);
}

.hero {
  color: white;
  height: 80vh;
  background:
    linear-gradient(rgba(8, 8, 8, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/background.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature-box {
  background: #c5c1c1;
  padding: 35px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  height: 100%;
}

.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  font-size: 55px;
  color: #d4a373;
  margin-bottom: 20px;
}

.feature-box h3 {
  color: #3e2723;
  font-weight: bold;
  margin-bottom: 15px;
}

.feature-box p {
  color: #666;
  line-height: 28px;
  text-align: justify;
}

.tentang {
  padding: 70px 50px;
  text-align: center;
  background: white;
}

.tentang h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #0f172a;
}

.tentang p {
  font-size: 20px;
  color: #555;
  max-width: 800px;
  margin: auto;
}
/* ABOUT US */
#about {
  background-color: #f8f9fa;
  padding: 80px 0;
}

#about h2 {
  font-size: 40px;
  font-weight: bold;
  color: #3e2723;
  margin-bottom: 15px;
}

#about h3 {
  color: #5d4037;
  font-weight: 600;
  margin-bottom: 20px;
}

#about p {
  color: #555;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}

#about img {
  border-radius: 15px;
  transition: 0.5s;
}

#about img:hover {
  transform: scale(1.05);
}

#about .btn {
  background-color: #6f4e37;
  color: white;
  border: none;
  padding: 10px 25px;
  margin-top: 10px;
}

#about .btn:hover {
  background-color: #4e342e;
}
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #d4a373;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer */

.footer {
  background-color: rgb(64, 29, 29);
  color: #f5f5f5;
  padding: 18px;
  margin-top: 40px;
}
